.logo {
	cursor : pointer;
	height : 64px;
}

.grid_icon {
	cursor : pointer; 
	position : absolute; 
	right : 80px;
}

.list_icon {
	cursor : pointer; 
	position : absolute; 
	right : 45px;
}

.add_icon {
	cursor : pointer; 
	position : absolute; 
	right : 10px;
}

.search {
	margin-left : 25%;
}

.delete_icon {
	cursor : pointer; 
	position : absolute; 
	right : 10px; 
	top : 10px;
}

.grid_right .card {
	height : 50%;
}